
body {
    display: inline;
    background: linear-gradient(to right, #edfdff, #afffb3);
    font-family: "raleway", sans-serif;
}

.LineaVertical {
    height: 100em;
    width: 4px;
    background-color: black;
    position: absolute;
    left: 35%;
}

h1 {
    position: relative;
    text-align: center;
    left: 10%;
}

h2 {
    position: relative;
    margin-left: 300px;
    text-align: center;
    color: #000000;
}


.LadoDerecho {
    position: absolute;
    height: 1em;
    width: 45%;
    margin-left: 40%;
}

.LadoIzquierdo {
    position: relative;
    height: 12em;
    width: 45%;
    left: 5%;
    top: 390px;
}

.Imagen {
    position: absolute;
    margin-left: 5%;
    width: 270px;
    height: 300px;
}

.progress {
    position: absolute;
    margin-left: 25%;
    transform: translate(-50%, -50%);
    background-color: #dddddd;
    height: 30px;
    width: 200px;
    border-radius: 20px;
}